.title {
    width: 50%;
    margin:auto;
    text-align: center;
}

.blurb {
    margin-top: 16rem;
    width: 100%;
}

.login-button {
    margin:auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 10rem;
}