.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
.about-description {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
.banner-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.banner {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    justify-content: flex-start; /* Ensure content starts from the left */
}
  
.banner1 {
    background-color: #9016fe;
}
  
.banner2 {
    background-color: #BFBDBC;
    color: black;
}
  
.banner3 {
    background-color: black;
}
  
.banner4 {
    background-color: #ff5722;
    color: black;
}

.banner1-image,
.banner2-image,
.banner3-image,
.banner4-image {
    width: 150px; /* Fixed width */
    height: 200px; /* Fixed height */
    background-size: cover; /* Ensure the image covers the entire div */
    border-radius: 8px; /* Rounded corners for the images */
    margin-right: 20px; /* Space between the image and text */
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.banner-content {
    display: flex;
    flex-direction: column;
}
  
.banner1-image {
    background-image: url('./assets/ket.png'); /* Change this to your actual image path */
}
  
.banner2-image {
    background-image: url('./assets/scross.png'); /* Change this to your actual image path */
}
  
.banner3-image {
    background-image: url('./assets/ani.png'); /* Change this to your actual image path */
}
  
.banner4-image {
    background-image: url('./assets/av.png'); /* Change this to your actual image path */
}
  
h3 {
    margin: 5px 0;
}
  
p {
    margin: 10px 0 0;
}
