.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
.about-description {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
.banner-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.banner {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    justify-content: flex-start;
}
  
.banner1 {
    background-color: #9016fe;
}
  
.banner2 {
    background-color: #BFBDBC;
    color: black;
}
  
.banner3 {
    background-color: black;
}
  
.banner4 {
    background-color: #ff5722;
    color: black;
}

.banner1-image,
.banner2-image,
.banner3-image,
.banner4-image {
    width: 150px;
    height: 200px;
    background-size: cover; 
    border-radius: 8px; 
    margin-right: 20px; 
    flex-shrink: 0; 
}

.banner-content {
    display: flex;
    flex-direction: column;
}
  
.banner1-image {
    background-image: url('./assets/Aniket.jpg');
}
  
.banner2-image {
    background-image: url('./assets/amshul.jpg'); 
}
  
.banner3-image {
    background-image: url('./assets/ani.png');
}
  
.banner4-image {
    background-image: url('./assets/av.jpg'); 
}
  
h3 {
    margin: 5px 0;
}
  
p {
    margin: 10px 0 0;
}
